head
    link(rel="stylesheet" href="./style.css")
    link(rel="shortcut icon" href="/favicon.ico")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="./script.js")
    
body
    #bg
    
    #header
        b TRI CAO
    #intro
        p.text
    #menus
        .item Profile
        .item Resume
        .item Projects
        .item Researches
        .item Music-covers
        .item Feedback
    #show
        
    
    #foot
        img(src="./images/java.png" alt="Java logo")
        img(src="./images/python.png" alt="Python logo" style={"height":"6vw"})
        img(src="./images/C.png" alt= "C logo" style={"margin-top": "0.3vw"})
        img(src="./images/HTML.png" alt= "HTML logo")
        img(src="./images/css3.png" alt= "CSS logo")
        img(src="./images/nodejs.png" alt= "Node logo" style={"height": "6vw","width": "6vw", "margin-bottom": "0.5vw"})
        img(src="./images/Git.png" alt= "Git logo" style={"height":"4.5vw", "width": "6vh", "margin-top": "1vh"})
        img(src="./images/mongodb.png" alt= "Mongo logo" style={"height":"4.5vw", "margin-top": "1vh"})
        
            
