head
    title There's my website
    link(rel="stylesheet" href="./style.css")
    link(rel="shortcut icon" href="/favicon.ico")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="./script.js")
    
body
    #bg
        
    #header
        if user && user.auth
            .box <span>Hi #{user.username}</span>
            .box#main <span> <b> TRI CAO </b></span>    
            .box#out <span><a href="/logout"> log out <a></span>
        else
            .box <span> <a href="http://tricao.azurewebsites.net/">Azure</a></span>
            .box#main <span> <b> TRI CAO </b></span>
            .box#in <span><nav> login <nav></span>
    #intro
        if warning
            #loginTable
                form(method="post" action="/login")
                    div
                        label(for="username")
                            span.required Username:
                            input(type="text" id="username" name="username" placeholder="Enter username" required="required" tabindex="1" autofocus="autofocus")
                    div
                        label(for="password")
                            span.required Password:
                            input(type="password" id="password" name="password" placeholder="Enter password" tabindex="2" required="required")  
                    div
                        button(name="submit" type="submit" id="submit") LOG IN
                    br
                    #warning=warning
                        
        else    
            #loginTable(style="display:none")
                form(method="post" action="/login")
                    div
                        label(for="username")
                            span.required Username:
                            input(type="text" id="username" name="username" placeholder="Enter username" required="required" tabindex="1" autofocus="autofocus")
                    div
                        label(for="password")
                            span.required Password:
                            input(type="password" id="password" name="password" placeholder="Enter password" tabindex="2" required="required")  
                    div
                        button(name="submit" type="submit" id="submit") LOG IN
        #profilePops
            img(src="./images/pic.jpg" alt="Profile pic")
            #contents
                ul(style="list-style-type:none")
                    li.name(style="background-image: url('./icon/name.png')") Minh Tri Cao
                    li.normal(style="background-image: url('./icon/job.png')") Software Engineering
                    li.normal(style="background-image: url('./icon/school.png'); font-size: 1.2vw;background-size: 1.7vw") Second Year Computer Science Student <br/>
                    a(href="http://carleton.ca/" target="_blank") Carleton University <br/><br/>
                    li.normal(style="background-image: url('./icon/home.png'); font-size: 1.2vw;background-size: 1.7vw") 152 Whitestone, Ottawa, ON, Canada
                    li.normal(style="background-image: url('./icon/phone.png'); font-size: 1.2vw;background-size: 1.7vw") +1 613 851 6363
                    li.normal(style="background-image: url('./icon/mail.png'); font-size: 1.2vw;background-size: 1.7vw") TriCao@cmail.carleton.ca
                    hr
                #pages
                    a(href="https://www.facebook.com/cao.minhtri.583" target="_blank")
                        img(src="./icon/facebook.png" alt="Facebook logo")
                        //- hr(style="background-color: #45619D; display: none;")
                    a(href="https://github.com/TrCaM" target="_blank")
                        img(src="./icon/github.png" alt="Github logo")
                        //- hr(style="background-color: #BF5B94; display: none")
                    a(href="https://www.linkedin.com/in/tri-cao-64723313a/" target="_blank")
                        img(src="./icon/linkedin.png" alt="LinkedIn logo")
                        //- hr(style="background-color: #0077B5; display: none")
            a(onclick="$('#profilePops').fadeOut(500)").y &times
        #popUps
            div
                h1 Thank you for visiting! 
                h4 Have a question? Please fill out this form 
            p#failure Oopsie...message not sent.  
            p#success Your message was sent successfully. Thank you!
            form(method="post" action="/feedback")#form2
                div
                    label(for="name")
                        span.required Name: *
                        input(type="text" id="name" name="name" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus")
                div
                    label(for="email")
                        span.required Email: *
                        input(type="email" id="email" name="email" placeholder="Your Email" tabindex="2" required="required")  
                div
                    label(for="message")
                        span.required Message: *
                        textarea(id="message" name="message" placeholder="Please write your message here." tabindex="5" required="required")
                div
                    button(name="submit" type="submit" id="submit") SEND 
            a(onclick="$('#popUps').fadeOut(500)").x &times
    #menus
        .item#profile(onclick="$('#profilePops').fadeIn(500)") Profile
        .item#resume Resume
        .item#projects Projects
        .item#research Research
        .item#chat Chat
        .item#feedback(onclick="$('#popUps').fadeIn(500); $('#delete').remove()") Feedback
    #show
        
    
    #foot
        img(src="./images/java.png" alt="Java logo")
        img(src="./images/python.png" alt="Python logo" style={"height":"6vw"})
        img(src="./images/C.png" alt= "C logo" style={"margin-top": "0.3vw"})
        img(src="./images/HTML.png" alt= "HTML logo")
        img(src="./images/css3.png" alt= "CSS logo")
        img(src="./images/nodejs.png" alt= "Node logo" style={"height": "6vw","width": "6vw", "margin-bottom": "0.5vw"})
        img(src="./images/Git.png" alt= "Git logo" style={"height":"4.5vw", "width": "6vh", "margin-top": "1vh"})
        img(src="./images/mongodb.png" alt= "Mongo logo" style={"height":"4.5vw", "margin-top": "1vh"})
        
            
