head
    link(rel="stylesheet" href="./style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
body
    #header
        b TRI CAO
    #intro
    
    
    #menus
        .item Profile
        .item Resume
        .item Projects
        .item Researches
        .item Music-covers
        .item Feedback
    #show
        
    
    #content
        #flashcard
            img(src="./images/vnFlag.png" alt: "Vietnam Flag")
            //- | Hi, I'm Tri Cao
            
