@font-face {
    /*License: http://kimberlygeswein.com*/
    font-family: BeautifulEverytime;
    src: url('BeautifulEveryTime.ttf');
}
@font-face {
    font-family: hors;
    src: url('hors.otf');
}

@font-face {
    font-family: score;
    src: url('scoreboard.ttf');
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

* {
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   -o-font-smoothing:antialiased;
   font-smoothing:antialiased;
   text-rendering:optimizeLegibility;
}

body{
    background-color: black;
    font-family: "Lato","Arial","sans-serif";
    margin: 0px;
    padding: 0px;

}

#bg{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-size: cover;
}

#header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 100%;
    margin-top: 0px;
    background-color: black;
    color: white;
}
#intro{
    height: 75%;
    color: #229954;
    font-family: score;
}

.x{
    position: absolute;
    top: -2%;
    left: 95%;
    font-size: 3vw;
}

.x:hover{
    font-weight: bold;
}

#restart{
    position: absolute;
    top: 5%;
    left: 90%;
    width: 10vw;
    height: 10vh;
    background-color: #154360;
    color: white;
    font-size: 1vw;
    opacity: 0.99;
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
}

#restart:hover{
    background-color: grey;
    text-decoration: underline;
}

.text{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #58D68D;
    font-family: score;
    font-size: 5vw;
    z-index: 1;
}

#br{
    width: 100%;
    height: 100%;
    /*opacity: 0;*/
}

#menus{
    display: -webkit-flex;
    display : flex;
    height : 12%;
    margin-top: 5px;

}

.item{
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B82601;
    width: 20%;
    /*border: solid 0.3vw #B82601;*/
    color: white;
    margin-right: 0.4vw;
    margin-bottom: 0.4vh;
    font-size: 2.9vw;
    font-style: italic;
    font-family: hors;
    transition: 0.5s;
}

.item:hover{
    opacity: 0.95;
}

#foot{
    background-color: black;
    position: fixed;
    display: flex;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    /*background-image: url(./images/danang.jpg);*/
    padding-left: 2vw;
    color: yellow;
    font-size: 3vw;
}

#foot img{
    margin-right: 8vw;
    width: 5vw;
    height: 5vw;
}

/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}

#profilePops{
    background-color:rgba(72,72,72,0.9);
    padding: 10px 20px 30px 20px;
    width:60%;
    height: 70%;
    left: 2%;
    position: absolute;
    top: 5%;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    display: none;
    z-index: 9;
}

#profilePops img{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 2%;
    left: 2%;

}

#popUps {
   background-color:rgba(72,72,72,0.9);
   padding: 10px 20px 30px 20px;
   width:30%;
   height: 70%;
   left: 70%;
   position: absolute;
   top: 5%;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   display: none;
   z-index: 9;
}
#popUps input,
#popUps select,
#popUps textarea,
#popUps label {
   font-size: 15px;
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}
#popUps input,
#popUps select,
#popUps textarea {
   width:100%;
   background: #fff;
   border: 0;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   margin-bottom: 25px;
   padding: 5px;
}
#popUps input:focus,
#popUps select:focus,
#popUps textarea:focus {
   background-color: #E5E6E7;
}
#popUps textarea {
   width:100%;
   height: 150px;
}
#popUps button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#popUps button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#popUps button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
}
#popUps .required {
   font-weight:bold;
   color: #E5E6E7;
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
   color: #6EA070;
   display:none;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #popUps{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}
